.top-bar {
    height: 56px;
    @apply flex align-middle flex-wrap justify-center items-center;
    align-items: center;
    border-bottom: 1px solid var(--self-border-color);
    box-shadow: inset 0 calc(1) 0 0 var(--self-border-color);
    color: var(--self-body-color);
    padding: 0 12px;
    box-sizing: border-box;
    background-color: #fff;
    .nav-bar-menu{}
    .nav-bar-search {}
}
