
html,body,#app {
    @include margin-0;
    @include padding-0;
    @include full-screen-vw;
}
html,body {
    overflow: hidden;
}
body {
    font-feature-settings: "cv03", "cv04", "cv11";
    font-family: var(--self-font-family);
    font-weight: 400;
    font-variant:tabular-nums;
    background-color: var(--self-body-bg);
}
p {
    margin: 0;
    padding: 0;
}
  input, textarea {
     @include placeholder {
        color: #A7A3FF !important;
     }
  }
