.header {
    @apply flex align-middle flex-wrap justify-center items-center;
    align-items: center;
    border-bottom: 1px solid var(--self-border-color);
    box-shadow: inset 0 calc(1) 0 0 var(--self-border-color);
    color: var(--self-body-color);
    padding: 0 12px;
    box-sizing: border-box;
    background-color: #fff;
    .logo {
      display: flex;
      @apply items-center;
      img {
        height: 32px;
        border-radius: 6px;
      }
      .title {
        @apply font-medium;
        font-size: 1rem;
        margin-left: 8px;
      }
    }
    .nav {
      @apply flex  flex-1 justify-end;
      .nav-item {
        @apply flex justify-end items-center;
        margin-right: 12px;
      }
      .dropdown-item {
        &.dropdown-link {
          --user-icon-width: 32px;
          width: var(--user-icon-width);
          height: var(--user-icon-width);
          img {
            width: var(--user-icon-width);
            height: var(--user-icon-width);
            border-radius: 4px;
          }
        }
      }
    }
  }
  .dropdown-title {
    min-width: 110px;
  }
